@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&family=Poppins:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@1,100&family=Roboto&display=swap");

body {
    margin: 0;
    padding: 0;
}

.profile-cover {
    position: fixed;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: red;
    margin: 0;
    /*padding: 5px;*/
    justify-content: space-between;
}
.profile img {
    margin: 0;
    height: 60px;
    /*width:100%*/
}

nav a {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    text-decoration: none;
    margin-right: 0px;
    display: block;
    /*height: 100%;*/
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 24px;
    padding-right: 24px;
}

nav a:hover {
    background-color: #627194;
}

.icon-bar {
    display: none;
}

@media (max-width: 600px) {
    nav {
        display: none;
    }
    .icon-bar {
        display: inline-block;
        color: white;
        font-size: 40px;
        margin-top: 10px;
        margin-right: 20px;
    }
    .profile img {
        display: none;
        margin: 0;
        height: 30px;
    }
}

.Flex-Hero-Header {
    width: 100%;
    display: flex;
    height: 500px;
    margin: 0;
    /* background-image: url(background4.jpg);*/
    background-color: rgb(41, 41, 41);
    justify-content: center;
    align-items: center;
}
.Flex-Hero-Header div {
    text-align: center;
}

.Flex-Hero-Header .greet {
    font-family: "lato", sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.Flex-Hero-Header .tagline {
    font-family: "poppins", sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: tomato;
}

.photos-title {
    display: flex;
    justify-content: center;
    background-color: #627194;
}

.photos-title h4 {
    font-size: 40px;
    color: white;
    padding: 10px;
    font-family: cursive;
    font-style: italic;
    text-decoration-line: underline;
    text-align: center;
    text-decoration: bold;
    margin: 0%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #627194;
    align-items: center;
}

.image-container img {
    width: 300px;
    object-fit: contain;
    margin-bottom: 0px;
    margin-top: 10px;
}
.image-container {
    justify-content: center;
    width: 300px;
    height: fit-content;
    margin: 15px;
    padding: 20px;
}

.gallery a {
    text-decoration: none;
}
.image-caption p {
    margin: 0px;
    width: 300px;
    height: 40px;
    background-color: black;

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    text-decoration: bold;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.show1 {
    color: black;
    transition: color 0.5s ease-in-out;
}
.image-caption p:hover .show1 {
    color: brown;
}

.next {
    display: flex;
    justify-content: center;
    background-color: #627194;
}

.next a {
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 80px;
    font-family: "roboto", sans-serif;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
    /*width: 150px;*/
}
.next a:hover {
    background-color: red;
}
.next a:hover .next1 {
    background-color: red;
    word-spacing: 7px;
    transition: word-spacing 0.5s ease-in-out;
}

.contact {
    margin: 0;
    padding: 0;
}
.Flex-contact {
    display: flex;
    height: 150px;
    margin: 0;
    padding-top: 120px;
    background-color: rgb(41, 41, 41);
    justify-content: space-around;
}
.Flex-contact div {
    text-align: center;
}

.Flex-contact .contact-greet {
    width: 100%;
    font-family: "lato", sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.Flex-contact .contact-tagline {
    width: 100%;
    font-family: "poppins", sans-serif;
    font-size: 20px;
    font-style: italic;
    word-spacing: 3px;
    color: white;
}

.social-media {
    display: flex;
    height: 100px;
    margin: 0;
    background-color: rgb(41, 41, 41);

    padding-bottom: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*.Flex-contact table {
    margin-top: 40px;
}

.Flex-contact table td{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: white;
    align-items: center;    
}*/

.social-media a {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.facebook {
    padding-right: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 30px;
    color: white;
}

.facebook:hover {
    color: white;
    transition: padding 0.5s ease-in-out;
    padding-top: 40px;
    padding-bottom: 0;
}

.github {
    padding: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 30px;
    color: white;
}

.github:hover {
    color: white;
    transition: padding 0.5s ease-in-out;
    padding-top: 40px;
    padding-bottom: 0;
}

.twitter {
    padding: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 30px;
    color: white;
}

.twitter:hover {
    color: white;
    transition: padding 0.5s ease-in-out;
    padding-top: 40px;
    padding-bottom: 0;
}

.email {
    padding: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 30px;
    color: white;
}

.email:hover {
    color: white;
    transition: padding 0.5s ease-in-out;
    padding-top: 40px;
    padding-bottom: 0;
}

.call {
    padding: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 30px;
    color: white;
}

.call:hover {
    color: white;
    transition: padding 0.5s ease-in-out;
    padding-top: 40px;
    padding-bottom: 0;
}

.social-media img {
    border-radius: 3px;
    height: 25px;
    padding-right: 3px;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: 2px solid red;
}

.hr {
    display: block;
    background-color: rgb(41, 41, 41);
    margin: 0;
    padding: 0;
}

.copyright {
    display: flex;
    height: 80px;
    margin: 0;
    background-color: rgb(41, 41, 41);
    justify-content: space-evenly;
    padding-top: 50px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 20px;
    color: white;
    align: center;
}
