.profile-cover {
    display: flex;
    height: 100%;
    background-color:grey;
    margin: 0;
    /*padding: 5px;*/
    /*justify-content: space-between;*/
}
nav a{
    color: white;
    font-size: 30px;
    text-decoration: none;
    margin-right: 30px;
    display: block;
    /*height: 100%;*/
    float: left;
    padding-top: 20px;
    padding-bottom: 26px;
    padding-left: 20px;
    padding-right: 20px;
}

nav a:hover {
    background-color: #1a53ff;
}

