@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    margin: 0;
    background-image: url(images/bg3.jpg);
    background-attachment: fixed;
    font-family: "poppins", sans-serif;
    color: white;
}
/*p {
  color: white;
}*/

.container {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: min-content;
    background-color: rgb(53, 45, 133);
    opacity: 0.9;
}

.form-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    color: white;
    text-align: center;
}

.form-bg h1 {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 5px;
    font-size: 30px;
    letter-spacing: 2px;
}

.form-bg h3 {
    margin: 0;
    padding-top: o;
    padding-bottom: 10px;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 2px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 20px;
    margin-top: 20px;
    font-size: 18px;
    text-align: left;
    background-color: rgb(14, 14, 68);
    fill-opacity: 1;
    border-radius: 4px;
}
.form-content {
    padding: 20px;
    font-size: 18px;
}

#label {
    font-size: 18px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-content input[type="text"] {
    margin-top: 10px;
    margin-bottom: 25px;
    align: left;
    width: 100%;
    height: 40px;
    border: none;
    outline-color: cornflowerblue;
    border-radius: 4px;
    font-size: 16px;
}

.form-content input[::placeholder] {
    font-family: "poppins", sans-serif;
    font-size: 16px;
}

.role {
    margin-top: 10px;
    margin-bottom: 60px;
    width: 100%;
    height: 40px;
    border: none;
    border-color: cornflowerblue;
    border-radius: 4px;
    transition: border-color 0.8s ease-in-out;
    font-family: "poppins", sans-serif;
    font-size: 16px;
}
.form-content input[type="radio"] {
    margin-top: 5px;
    height: 15px;
    width: 15px;
}

.feature {
    margin-top: 10px;
    margin-bottom: 60px;
    width: 100%;
    height: 40px;
    border: none;
    border-color: cornflowerblue;
    border-radius: 4px;
    transition: border-color 0.8s ease-in-out;
    font-family: "poppins", sans-serif;
    font-size: 16px;
}

.improve-group p {
    margin: 5px;
}
.form-content input[type="checkbox"] {
    margin-top: 5px;
}

textarea {
    font-family: "poppins", sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}

.form-bg .block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0;
    align-self: center;
    background-color: #4caf50;
    color: white;
    margin: auto;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
}

.form-bg .btn {
    display: flex;
    justify-content: center;
}
